@using CRMS_WEB.Models.beans;
@using CRMS_WEB.Coverts;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "RepairingReportView";

    if (Session["PRIO"] != null)
    {
        if ((int)Session["PRIO"] == 1)
        {
            Layout = "~/Views/Shared/Template_admin.cshtml";
        }
        else if ((int)Session["PRIO"] == 2)
        {
            Response.Redirect("~/Home");
            // Layout = "~/Views/Shared/Template_emp.cshtml";
        }
        else if ((int)Session["PRIO"] == 3)
        {
            Response.Redirect("~/Home");
        }
    }
    else
    {
        Response.Redirect("~/Home");
        // HttpResponse.Redirecting = "";

    }
    ConvertClass cv = new ConvertClass();
}

<script>
    $(document).ready(function () {
        $("#report").addClass("active");  // add class nav
    });
</script>


<div class="wrapper col2">
    <div id="breadcrumb">
        <ul>
            <li class="first">คุณอยู่ที่ </li>
            <li>&#187;</li>
            <li><a href="#">รายงาน</a></li>
            <li>&#187;</li>
            <li class="current"><a href="#">รายงานการรับซ่อม</a></li>

            <li style="float:right;">
                <button onclick="goto('../User/UserEditing?userID=@Session["ID"]')" data-toggle="tooltip" title="" data-original-title="แก้ไขข้อมูลส่วนตัว" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-cog"></i> </button>
                <button onclick="goto('/User/ManagerProfile?userID=@Session["ID"]')" data-toggle="tooltip" title="" data-original-title="ข้อมูลโดยละเอียด" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-user"></i> </button>

                <button onclick="window.location='../Login/Logout'" data-toggle="tooltip" title="" data-original-title="ออกจากระบบ" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-log-out"></i> </button>
            </li>
            <li style="float:right;">
                <label style="margin: 0px 8px 0px 8px; ">
                    @(Session["LEVEL"] + " ")
                    @(Session["NAME"])
                </label>
            </li>
        </ul>
    </div>
</div>


<div class="wrapper col4">
    <div id="container">
        <h3>
            รายการรับซ่อม
            <small style="float:right;">
                <form action="~/Services/RepairingReportView" method="post" class="form-inline" autocomplete="off">
                    <div class="form-group">
                        <label for="inputsm" style="font-size:18px;">เลือกเดือน :</label>

                        <input type="month" class="form-control" name="month" value="@(Request.Params["month"]!=null?Request.Params["month"]:"")" id="mth" />

                    </div>
                    <button class="btn btn-info btn-sm"><i class="glyphicon glyphicon-search"></i> ค้นข้อมูล</button>
                </form>
            </small>
        </h3>
        @if (Request.Params["month"] != null)
        {
            var repair = ViewBag.REPAIR;//as List<RepairModel>;
           
            <table class="table table-hover">
                <thead>
                    <tr style="background:#EEE;">
                        <th style="width:5%;white-space:nowrap;text-align:center;">#</th>
                        <th style="width:10%;white-space:nowrap;text-align:center;">รหัสลูกค้า</th>
                        <th style="width:20%;white-space:nowrap;text-align:center;">ชื่อ-สกุล</th>
                        <th style="width:35%;white-space:nowrap;text-align:center;">รายการซ่อม</th>
                        <th style="width:15%;white-space:nowrap;text-align:center;">ความเสียหาย</th>
                        <th style="width:15%;white-space:nowrap;text-align:center;">ผู้รับผิดชอบ</th>
                    </tr>
                </thead>

                @if(repair.Count > 0)
                {
                    int n = 1 + cv.pageToNumrunning(Request.Params["page"] != null ? Int32.Parse(Request.Params["page"]) : 0, 20);
                    <tbody>
                        @foreach (var rep in repair)
                        {
                            <tr>
                                <td>@n</td>
                                <td>@rep.CUSTOMER.CUST_UID</td>
                                <td>@(rep.CUSTOMER.C_NAME+" "+rep.CUSTOMER.C_LASTNAME)</td>
                                <td>@(rep.PRODUCT.TYPE.PRO_TYPE_NAME+" "+rep.PRODUCT.BANRD.PRO_BAND_NAME+" "+rep.MODEL+" "+rep.COLOR)</td>
                                <td>@(rep.DAMAGE)</td>
                                <td>@(rep.STAFF.NAME+" "+rep.STAFF.LASTNAME)</td>
                            </tr>
                            n++;
                        }
                    </tbody>
                    <tfoot>
                        @if (n > 20)
                        {
                            <tr>
                                <td colspan="6" align="right">
                                    @Html.PagedListPager((IPagedList)ViewBag.REPAIR, page => Url.Action("RepairingReportView", "Services", new { page = page, month = Request.Params["month"] }))
                                </td>
                            </tr>
                        }

                        <tr>
                            <td colspan="6" align="center">
                                <button onclick="window.open('../Services/RepairingExportReport?t=excel&month=@Request.Params["month"]')" class="btn btn-default btn-sm"><i style="color:green;" class="glyphicon glyphicon-list-alt"></i> ส่งออกรายงาน</button>
                            </td>
                        </tr>

                    </tfoot>
                }
                else
                {
                    <tr>
                        <td colspan="6" align="center" style="color:red;">
                            ไม่มีข้อมูล
                        </td>
                    </tr>
                }


            </table>
        }
    </div>

</div>