@using CRMS_WEB.Models.beans;
@using CRMS_WEB.Coverts;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "ManageEmployees";
    ConvertClass cv = new ConvertClass();

    if (Session["PRIO"] != null)
    {
        if ((int)Session["PRIO"] == 1)
        {
            Layout = "~/Views/Shared/Template_admin.cshtml";
        }
        else if ((int)Session["PRIO"] == 2)
        {
            Response.Redirect("~/Home");
        }
        else if ((int)Session["PRIO"] == 3)
        {
            Response.Redirect("~/Home");
        }
    }
    else
    {
        Response.Redirect("~/Home");
    }
    var emp = ViewBag.EMP;// as List<UsersModel>;

}
<script>
    $(document).ready(function () {
        $("#user").addClass("active");
    });

</script>
<div class="wrapper col2">
    <div id="breadcrumb">
        <ul>
            <li class="first">คุณอยู่ที่ </li>
            <li>&#187;</li>
            <li><a href="#">จัดการผู้ใช้</a></li>
            <li>&#187;</li>
            <li class="current"><a href="#">การจัดการพนักงาน</a></li>

            <li style="float:right;">
                <button onclick="goto('../User/UserEditing?userID=@Session["ID"]')" data-toggle="tooltip" title="" data-original-title="แก้ไขข้อมูลส่วนตัว" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-cog"></i> </button>
                @if ((int)Session["PRIO"] == 1)
                {
                    <button onclick="goto('/User/ManagerProfile?userID=@Session["ID"]')" data-toggle="tooltip" title="" data-original-title="ข้อมูลโดยละเอียด" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-user"></i> </button>
                }
                else if ((int)Session["PRIO"] == 2)
                {
                    <button  onclick="goto('/User/EmployeeProfile?userID=@Session["ID"]')" data-toggle="tooltip" title="" data-original-title="ข้อมูลโดยละเอียด" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-user"></i> </button>
                }
                <button onclick="window.location='../Login/Logout'" data-toggle="tooltip" title="" data-original-title="ออกจากระบบ" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-log-out"></i> </button>
            </li>
            <li style="float:right;">
                <label style="margin: 0px 8px 0px 8px; ">
                    @(Session["LEVEL"] + " ")
                    @(Session["NAME"])
                </label>
            </li>
        </ul>
    </div>
</div>
<div class="wrapper col4">
    <div id="container">
        <h1>
            การจัดการผู้ดูแลระบบ ระดับพนักงาน
            <a href="~/User/AddEmployees" class="btn btn-default btn-sm" style="float:right;"><i class="glyphicon glyphicon-plus-sign"></i> เพิ่มพนักงาน</a>
        </h1>
        @using (Html.BeginForm("ManageEmployees", "User", FormMethod.Post, new { @style = "form-inline" }))
        {
            <p>
                <div>
                </div>
                <span style="float: left; margin: 5px 0px 0px 0px;">รหัส,ชื่อ-สกุล,เบอร์โทร : </span> @Html.TextBox("SearchText", null, new { @class = "form-control input-sm ", @style = "color:;width:30%;float:left; margin:0px 8px 0px 8px;" })
                <button type="submit" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search"></i> Search</button>
                <span style="float:right;"> ทั้งหมด  @(Request.Params["SearchText"] != null ? emp.Count : ViewBag.Total)</span>
            </p>
        }
        <table class="table">
            <thead>
                <tr style="background:#EEE;">
                    <th width="60px">ลำดับ </th>
                    <th width="120px"> รหัสผู้ใช้ </th>
                    <th width="150px"> ชื่อ-สกุล</th>
                    <th> เบอร์ </th>
                    <th> วันเริ่มงาน</th>
                    <th width="80px"> เงินเดือน </th>
                    <th width="160px"> ตัวจัดการ </th>
                </tr>
            </thead>
            @if (emp.Count > 0)
            {
                int i = 1 + cv.pageToNumrunning(Request.Params["page"] != null ? Int32.Parse(Request.Params["page"]) : 0, 20);
                <tbody>

                    @foreach (var e in emp)
                    {

                        <tr>
                            <td align="right">@i</td>
                            <td> @e.USER_UID</td>
                            <td> @(e.NAME + " " + e.LASTNAME) </td>
                            <td> @e.TEL</td>
                            <td> @e.START_WORK</td>
                            <td align="right"> @Int32.Parse(e.SALARY).ToString("00,00")</td>
                            <td>
                                <button onclick="ConfirmDel('../User/UserDeleting?who=Employees&userID=@e.USER_NO')" class="btn btn-danger btn-sm" data-toggle="tooltip" title="ลบข้อมูล"><i class="glyphicon glyphicon-trash"></i></button>
                                <button onclick="goto('../User/UserEditing?who=Employees&userID=@e.USER_NO')" class="btn btn-warning btn-sm" data-toggle="tooltip" title="แก้ไขข้อมูล"> <i class="glyphicon glyphicon-edit"></i></button>
                                <button onclick="goto('../User/EmployeeProfile?userID=@e.USER_NO')" class="btn btn-default btn-sm" data-toggle="tooltip" title="ข้อมูลลูกค้าโดยละเอียด"> เพิ่มเติม</button>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
                if (i > 20)
                {
                    <tfoot>
                        <tr>
                            <td style="background:#EEE;" colspan="7" align="center">
                                @Html.PagedListPager((IPagedList)ViewBag.EMP, page => Url.Action("ManageEmployees", "User", new { page }));
                            </td>
                        </tr>
                    </tfoot>
                }

            }
            else if (Request.Params["SearchText"] != null && emp.Count == 0)
            {
                <tr>
                    <td colspan="7" align="center">
                        <center><b style="color:red;"> " @Request.Params["SearchText"] " ไม่พบข้อมูลที่ค้นหา  </b> </center>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="7" align="center">
                        <center><b style="color:red;">ไม่มีข้อมูล</b> </center>
                    </td>
                </tr>
            }
        </table>



        <div class="clear"></div>
    </div>
</div>