@using CRMS_WEB.Models.beans;

@{
    ViewBag.Title = "MyProfileEditing";

    if (Session["PRIO"] != null)
    {
        if ((int)Session["PRIO"] == 1)
        {
            Response.Redirect("~/Main/Staff");
        }
        else if ((int)Session["PRIO"] == 2)
        {
            Response.Redirect("~/Main/Staff");
        }
        else if ((int)Session["PRIO"] == 3)
        {
            Layout = "~/Views/Shared/Template_cust.cshtml";
        }
    }
    else
    {
        Response.Redirect("~/Home");
        // HttpResponse.Redirecting = "";
    }

    // data
    var c = ViewBag.C as CustomerModel;
}
<script>
    $(document).ready(function () {
        $("#profile").addClass("active");
    });
</script>
<div class="wrapper col2">

    <div id="breadcrumb">
        <ul>
            <!--             Badge นับจำนวนการอัพเดท และ ข้อความ                 -->
            <li class="first">
                <a id="alertBell_a" data-toggle="tooltip" data-original-title="ข้อมูลของท่านที่มีการอัพเดท" href="~/Services/ReadUpdateRepair?c=@Session["ID"]">
                    <i class="glyphicon glyphicon-bell"></i>
                    การแจ้งเตือน <span class="badge" id="alertBell"></span>
                </a>
            </li>
            <li>&nbsp;</li>
            <li>
                <a id="badgeMSG_a" data-toggle="tooltip" data-original-title="ข้อความความเคลื่อนไหวในระบบ" href="~/Sysmassage/ReadMassage?c=@Session["ID"]">
                    <i class="glyphicon glyphicon-envelope"></i>
                    ข้อความระบบ <span class="badge" id="badgeMSG"></span>
                </a>
            </li>

            <li style="float:right;">
                <button onclick="window.location='../Login/Logout'" data-toggle="tooltip" title="" data-original-title="ออกจากระบบ" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-log-out"></i> </button>
            </li>
            <li style="float:right;">
                <label style="margin: 0px 8px 0px 8px; ">
                    @(Session["LEVEL"] + " ")
                    @(Session["NAME"])
                </label>
            </li>
        </ul>
    </div>
</div>

<div class="wrapper col4">
    <div id="container">
        <div class="panel panel-info">
            <div class="panel-heading" style="height:53px;">
                <b style="font-size:20px;">การแกไขข้อมูลส่วนตัว</b>
                
            </div>
            <div class="panel-body">

                <!--                  Form                    -->
                <form action="~/Customer/CustomerUpdating" method="post" class="form-horizontal">

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Username</label>
                        <div class="col-sm-4">
                            <input type="text" name="username" class="form-control input-sm" value="@c.USERNAME" onblur="isDuplicateUser(this)" placeholder="JAME1234" readonly>    <!--    Username      -->
                        </div>
                        @*<div class="col-sm-4">
                    <span id="dupLD"></span>
                    <span id="dupMSG">4 ตัวอักษรขึ้นไป</span>
                </div>*@
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">ชื่อ</label>
                        <div class="col-sm-4">
                            <input type="text" name="name" value="@c.C_NAME" class="form-control input-sm" id="inputEmail3" placeholder="รัฐพล" required>    <!--    ชื่อลูกค้า      -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">สกุล</label>
                        <div class="col-sm-4">
                            <input type="text" name="lname" value="@c.C_LASTNAME" class="form-control input-sm" id="inputEmail3" placeholder="ธนครุฑ" required>    <!--    นามสกุล      -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">เบอร์โทร</label>
                        <div class="col-sm-4">
                            <input type="tel" name="tel" value="@c.C_TEL" class="form-control input-sm" maxlength="10" onkeypress="return isNumberStr(event,this)" id="inputEmail3" placeholder="0872361601" required>    <!--    เบอร์      -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">อีเมล</label>
                        <div class="col-sm-6">
                            <input type="email" name="email" value="@c.C_EMAIL" class="form-control input-sm" id="inputEmail3" placeholder="Email" required>    <!--    เมล      -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">ที่อยู่</label>
                        <div class="col-sm-6">
                            <textarea name="addr" class="form-control input-sm" id="inputEmail3" style="resize:none;" placeholder="131 หมู่ 1 ต ท่าอุเทน อ.ท่าอุเทน จ.นครพนม 48120 " required>@c.C_ADDRESS</textarea>    <!--    ที่อยู่      -->
                        </div>
                    </div>
                    <div class="form-group">
                        <hr />
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">รหัสผ่านใหม่</label>
                        <div class="col-sm-4">
                            <input type="password" name="password" class="form-control input-sm" id="password" value="">    <!--    Password      -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">ยืนยันรหัสผ่านใหม่</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control input-sm" id="conpassword" value="">    <!--   Confirm  Password      -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <center>
                                <input type="hidden" name="swicth" value="1" />
                                <input type="hidden" name="custID" value="@c.CUST_NO" />
                                <button type="submit" onclick="return newPwdCheck('password', 'conpassword')" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-save" style="color:green;"></i> บันทึก</button>  <!--    ปุม submit      -->
                                <button type="reset" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh" style="color:deepskyblue;"></i> ล้างข้อมูล</button>  <!--     ปุ่ม รีเซ็ต    -->
                            </center>
                        </div>
                    </div>

                </form> <!-- /form      -->

            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
</div>