@using CRMS_WEB.Models.beans
@{
    ViewBag.Title = "Services";
    if (Session["PRIO"] != null)
    {
        if ((int)Session["PRIO"] == 1)
        {
            Layout = "~/Views/Shared/Template_admin.cshtml";
        }
        else if ((int)Session["PRIO"] == 2)
        {
            Layout = "~/Views/Shared/Template_emp.cshtml";
        }
        else if ((int)Session["PRIO"] == 3)
        {
            Response.Redirect("~/Home");
        }
    }
    else
    {
        Response.Redirect("~/Home");
        // HttpResponse.Redirecting = "";

    }

    var cust = ViewData["CUST"] as CustomerModel;
}
<script>
    $(document).ready(function () {
        $("#services").addClass("active");
    });
</script>
<div class="wrapper col2">
    <div id="breadcrumb">
        <ul>
            <li class="first">คุณอยู่ที่</li>
            <li>&#187;</li>
            <li><a href="#">บริการ</a></li>
            <li>&#187;</li>
            <li class="current"><a href="#">ออกใบส่งซ่อม</a></li>

            <li style="float:right;">
                <button onclick="goto('../User/UserEditing?userID=@Session["ID"]')" data-toggle="tooltip" title="" data-original-title="แก้ไขข้อมูลส่วนตัว" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-cog"></i> </button>
                @if ((int)Session["PRIO"] == 1)
                {
                    <button onclick="goto('/User/ManagerProfile?userID=@Session["ID"]')" data-toggle="tooltip" title="" data-original-title="ข้อมูลโดยละเอียด" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-user"></i> </button>
                }
                else if ((int)Session["PRIO"] == 2)
                {
                    <button onclick="goto('/User/EmployeeProfile?userID=@Session["ID"]')" data-toggle="tooltip" title="" data-original-title="ข้อมูลโดยละเอียด" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-user"></i> </button>
                }
                <button onclick="window.location='../Login/Logout'" data-toggle="tooltip" title="" data-original-title="ออกจากระบบ" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-log-out"></i> </button>
            </li>
            <li style="float:right;">
                <label style="margin: 0px 8px 0px 8px; ">
                    @(Session["LEVEL"] + " ")
                    @(Session["NAME"])
                </label>
            </li>
        </ul>
    </div>
</div>

<div class="wrapper col4">
    <div id="container">
        <!-- ค้นหาด้วยเลขที่ลูกค้า  -->
        <div class="form-inline row">
            <form action="~/Services/Services" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="inputsm">กรอกรหัสลูกค้า :</label>
                    <input class="form-control input-sm" type="text" name="userUID" value="@(Request.Params["userUID"] != null ? Request.Params["userUID"] : "")" required>
                </div>
                <button class="btn btn-info btn-sm"><i class="glyphicon glyphicon-search"></i> ค้นข้อมูล</button>
            </form>

        </div><br />
        <table class="table">
            <tr>
                <td>
                    <b>ข้อมูลลูกค้า</b>
                </td>
            </tr>
            <tr>
                <td>ชื่อ-สกุล @( cust != null ? cust.C_NAME + " " + cust.C_LASTNAME : "")</td>
                <td>เบอร์โทร @( cust != null ? cust.C_TEL : "")</td>
                <td style="width:50%;">ที่อยู่ @( cust != null ? cust.C_ADDRESS : "")</td>
            </tr>
        </table>
        @*    ถ้ามีข้อมูลของลูกค้าให้ทำการแสดงส่วนนี้ ใน if               <-- james *@
        @if (cust != null)
{
    // protype data
    var pt = ViewData["PROTYPE"] as List<ProductTypeModel>;


    <form action="~/Services/ConfirmInsertServices" method="post">
        <input type="hidden" name="custid" value="@cust.CUST_NO" />
        <div id="container" style="padding-top:10px; ">
            <hr />
            <div class="col-lg-12">
                <!--    ประเภทของอุปกรณ์ส่งซ่อม      -->
                <div class="form-group col-lg-4">
                    <label for="IDtype" class="col-sm-3 control-label">ประเภท</label>
                    <div class="col-sm-9">
                        <select name="type_id" id="IDtype" class="form-control input-sm" required>
                            @if (pt.Count > 0)
                            {
                                <option value="">---- เลือกประเภท ----</option>
                                foreach (var protype in pt)
                                {
                                    <option value="@protype.PRO_TYP_ID">@protype.PRO_TYPE_NAME</option>
                                }
                            }
                            else
                            {
                                <option value="">---- ไม่มีรายการ ----</option>
                            }
                        </select>
                    </div>
                </div>
                @* Javascript Data loading
                    Change type to load brand of type.
                *@
                <script>
                    $(document).ready(function () {
                        $("#IDtype").change(function () {
                            var x = $(this).val();
                            if (x !== '') {
                                $.post("DataLoading_ProductType", { "protypeid": x }, function (re, st) {
                                    $("#IDproduct").html(re);
                                    //console.log("result : " + re);
                                });
                                //console.log("TEST CHANGE :" + x);
                            }

                        });
                    });
                </script>
                <!--    ยี่ห้อของอุปกรณ์ส่งซ่อม     -->
                <div class="form-group col-lg-4">
                    <label for="IDproduct" class="col-lg-3 control-label">ยี่ห้อ</label>
                    <div class="col-lg-9">
                        @* Data Loading tag *@
                        <select name="IDproduct" id="IDproduct" class="form-control input-sm" required>
                            <option value="">---- เลือกยี่ห้อ ----</option>
                        </select>
                    </div>
                </div>

                <!--    Model     -->
                <div class="form-group col-lg-4">
                    <label for="IDbrand" class="col-lg-3 control-label">รุ่น/Model</label>
                    <div class="col-sm-9">
                        <input type="text" name="model" class="form-control" value="" required/>
                    </div>
                </div>
            </div> <!--End div Class="col-lg-12" -->

            <div class="col-lg-12">
                <!--    Color     -->
                <div class="form-group col-lg-4">
                    <label for="color" class="col-lg-3 control-label">สี</label>
                    <div class="col-sm-9">
                        <input type="text" name="color" id="color" class="form-control" value="" required/>
                    </div>
                </div>

                <!--    Damage     -->
                <div class="form-group col-lg-4">
                    <label for="damage" class="col-lg-3 control-label">ชำรุด</label>
                    <div class="col-sm-9">
                        <textarea name="damage" id="damage" class="form-control" style="resize:none;" required></textarea>
                    </div>
                </div>
                <!--    Date Consign     -->
                <div class="form-group col-lg-4">
                    <label for="damage" class="col-lg-3 control-label">นัดส่งคืน</label>
                    <div class="col-sm-9">
                        <input type="text" name="consign" id="datetimepicker" value="" class="form-control" required />
                    </div>
                </div>

            </div> <!--End div Class="col-lg-12" -->
            
                <div class="col-lg-12">
                    <center>
                        <button type="submit" class="btn btn-default btn-sm" style="color:forestgreen;"><i class="glyphicon glyphicon-save"></i> บันทึก </button>
                    </center>
                </div> <!--End div Class="col-lg-12" -->

                <br />
                <br />
                <br />
            <br />
            <br />
                <br />
            </div> <!--End  <div id="container"> -->
    </form> <!-- End form Insert Services -->
}

    </div>
</div>
